@section scripts{
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    @*<script src="~/Scripts/angular.js"></script>*@
    <script src="~/Scripts/AngularApp.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.8.3/ng-table.min.js"></script>
}

<div ng-app="personModule">
    <div ng-controller="personController">
        <button class="btn btn-success" ng-click="add()">Add New Person</button>
        <h3>List of Persons</h3>
        <table ng-table="personsTable" class="table table-striped">
            <thead>
                <tr>
                    <td>Person ID</td>
                    <td>First Name</td>
                    <td>Middle Name</td>
                    <td>Last Name</td>
                    <td>Primary Email Address</td>
                    <td>Secondary Email Address</td>
                    <td>Mobile Number</td>
                    <td>Phone Number</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in data">
                    <td>{{person.PersonId}}</td>
                    <td>{{person.FirstName}}</td>
                    <td>{{person.MiddleName}}</td>
                    <td>{{person.LastName}}</td>
                    <td>{{person.PrimaryEmailAddress}}</td>
                    <td>{{person.SecondaryEmailAddress}}</td>
                    <td>{{person.MobileNumber}}</td>
                    <td>{{person.PhoneNumber}}</td>
                    <td><button class="btn btn-primary" ng-click="edit(personsData[$index])">Edit</button></td>
                    <td><button class="btn btn-danger" ng-click="edit(person.PersonId)">Delete</button></td>
                </tr>
            </tbody>
        </table>
        <div style="border-top: solid 2px #282828; height: 10px"> </div>
        <div ng-show="showVal" class="row form-group">
            <h2>Update Person</h2>
            <div class="row form-group" style="display:none">
                <label>Perspn Id: {{person.PersonId}}</label>
            </div>
            <div class="row form-group">
                <label class="col-md-3">First Name</label>
                <input class="col-md-4 form-control" type="text" data-ng-model="person.FirstName" />
            </div>
            <div class="row form-group">
                <label class="col-md-3">Middle Name</label>
                <input class="col-md-4 form-control" type="text" data-ng-model="person.MiddleName" />
            </div>
            <div class="row form-group">
                <label class="col-md-3">Last Name</label>
                <input class="col-md-4 form-control" type="text" data-ng-model="person.LastName" />
            </div>
            <div class="row form-group">
                <label class="col-md-3">Primary Email Address</label>
                <input class="col-md-4 form-control" type="text" data-ng-model="person.PrimaryEmailAddress" />
            </div>
            <div class="row form-group">
                <label class="col-md-3">Secondary Email Address</label>
                <input class="col-md-4 form-control" type="text" data-ng-model="person.SecondaryEmailAddress" />
            </div>
            <div class="row form-group">
                <label class="col-md-3">Mobile Number</label>
                <input class="col-md-4 form-control" type="text" data-ng-model="person.MobileNumber" />
            </div>
            <div class="row form-group">
                <label class="col-md-3">Phone Number</label>
                <input class="col-md-4 form-control" type="text" data-ng-model="person.PhoneNumber" />
            </div>
            <div class="row form-group col-md-4 col-md-offset-2">
                <button class="btn btn-primary" ng-click="update()">Update</button>
                <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
            </div>
        </div>
        <div ng-show="hideVal" class="row form-group">
            <h2>Add New Person</h2>
            <div class="row form-group" style="display:none">
                <label>Perspn Id: {{person.PersonId}}</label>
            </div>
            <div class="row form-group">
                <label class="col-md-3">First Name</label>
                <input class="col-md-4 form-control" type="text" data-ng-model="person.FirstName" />
            </div>
            <div class="row form-group">
                <label class="col-md-3">Middle Name</label>
                <input class="col-md-4 form-control" type="text" data-ng-model="person.MiddleName" />
            </div>
            <div class="row form-group">
                <label class="col-md-3">Last Name</label>
                <input class="col-md-4 form-control" type="text" data-ng-model="person.LastName" />
            </div>
            <div class="row form-group">
                <label class="col-md-3">Primary Email Address</label>
                <input class="col-md-4 form-control" type="text" data-ng-model="person.PrimaryEmailAddress" />
            </div>
            <div class="row form-group">
                <label class="col-md-3">Secondary Email Address</label>
                <input class="col-md-4 form-control" type="text" data-ng-model="person.SecondaryEmailAddress" />
            </div>
            <div class="row form-group">
                <label class="col-md-3">Mobile Number</label>
                <input class="col-md-4 form-control" type="text" data-ng-model="person.MobileNumber" />
            </div>
            <div class="row form-group">
                <label class="col-md-3">Phone Number</label>
                <input class="col-md-4 form-control" type="text" data-ng-model="person.PhoneNumber" />
            </div>
            <div class="row form-group col-md-4 col-md-offset-2">
                <button class="btn btn-primary" ng-click="save()">Save</button>
                <button class="btn btn-primary" ng-click="reset()">Reset</button>
            </div>
        </div>
    </div>
</div>

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h2>Getting started</h2>
            <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
        </div>
    </div>*@
